/*soft reset do CSS*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('https://github.com/yukaueno/imerssaocss/blob/master/img/kusudama.jpg');
    /*background-color: darkgoldenrod;*/
    background-size: auto 100vh;
    font-family: 'Roboto Mono', monospace;
    height: 100vh;
    font-size: 12px;
}

/* se a tela pelo menos 400px vai carregar esses estilos */
@media (min-width: 400px) {
    body {
        font-size: 14px;
    }
}

/* breakpoint */
@media (min-width: 600px) {
    body {
        font-size: 18px;
    }
}

header {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    background-color: white;
    position: fixed;
    width: 100vw;
    top: 0;
}
    
.menu ul {
    display: flex;
    justify-content: space-between;
}
    
.menu li {
    list-style: none;
}
 
.menu a {
    display: block;
    padding: 10px 20px;
}

a {
    color: teal;
    text-decoration: none;
}
    
a:hover {
    text-decoration: underline;
}
    
.site-subtitle,
.site-title {
    color: whitesmoke;
    text-align: center;
}
    
.site-title {
    font-size: 3em;
    font-family: 'Pangolin', cursive;
}

.site-subtitle {
    font-style: italic;
    font-family: 'Special Elite', cursive;
    line-height: 1.5em;
}

.portfolio {
    padding: 2em;
    color: wheat;
    height: 100vh;
}

.portfolio h2 {
    color: thistle;
    font-family: 'Special Elite', cursive;
    font-size: 2em;
    margin-bottom: 1.5em;
}

.portfolio .grid {
    display: grid;
    gap: 1em;
}

@media (min-width: 560px) {
    .portfolio .grid {
        grid-template-columns: 240px 240px;
    }    
}

@media (min-width: 880px) {
    .portfolio .grid {
        grid-template-columns: repeat(3,240px);
        align-content: center;
        height: calc(100vh - 8em -48px);
    }    
}

.portfolio figure {
    text-align: center;
}

.img-portfolio {
    height: 180px;
    width: 240px;
    object-fit: cover;
    border-radius: 40%;
}

@media (min-width: 880px;) {
    .img-portfolio {
        height: auto;
        width: 100%;
    }   
}
